.site-page-header {
    border: 1px solid rgb(235, 237, 240);
 }
.main-header {
  background-color: rgb(0, 0, 0);
  align-items: center;
  padding: 0px 20px;
  height: 70px;
  position: sticky;
  width: 100%;
}
.icons-header {
    color: rgb(255, 255, 255);
}
.icons-end-header {
  color: rgb(255, 255, 255);
  text-align: end;
}

.labels-header {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: left;
}

.ant-page-header-heading-title {
  color: rgb(255, 255, 255);
}

.ant-page-header-heading-sub-title {
  color: rgb(255, 255, 255);
}

.logo{

  height: 10vh;
  width: 50vh;
  /* margin-top: 5px;
  margin-right: 10px; */
}