.main-footer {
    background-color: rgb(0, 0, 0);
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0;
    padding: 20px;
}

.icons-footer {
    color: rgb(255, 255, 255);
}

.labels-footer {
    color: rgb(255, 255, 255);
}