.input-type{
    width: 60%;
}

.loading-producto{
    margin-top: 30vh;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header{
    text-align: left;
}

.tecnica >.ant-collapse-header  {
    color: white !important;
    background-color: black;
}